@import "tailwindcss";

@theme inline {
  --color-primary-teal: #006767;
  --color-primary-dark: #008282;
  --color-accent-blue: #1C648E;
  --color-light-teal: #8FF3F2;
  --color-bg-light: #F6FAF9;
  --color-bg-card: #F0F4F4;
  
  --font-heading: var(--font-plus-jakarta-sans);
  --font-body: var(--font-manrope);
}

body {
  background-color: var(--color-bg-light);
  color: #3D4949;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
